<!-- profile.html -->
{% extends "base/base.html" %}

{% block mytitle %}Home | Login{% endblock %}

{% block start %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <h2>Hello {{ user_profile.user.first_name }}!</h2>
                <img src="{{ user_profile.profile_image.url }}" class="card-img-top mx-auto d-block" alt="Profile Image" style="width: 200px; height: 200px;">
                <div class="card-body d-flex justify-content-center">
                    <div>
                        <h5 class="card-title">Name: {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</h5>
                        <p class="card-text">Email: {{ user_profile.user.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
